black==22.1.0
blue==0.9.1
cfgv==3.5.0
click==8.3.2
colorama==0.4.6
coverage==7.13.5
-e git+https://github.com/gabrielmango/data-script-template.git@ff6fb732055e6543b823e2d9fc4d645c75ff509c#egg=data_script_template
distlib==0.4.0
dnspython==2.8.0
filelock==3.25.2
flake8==4.0.1
greenlet==3.3.2
identify==2.6.18
iniconfig==2.3.0
isort==8.0.1
mccabe==0.6.1
mslex==1.3.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pluggy==1.6.0
pre_commit==4.5.1
psutil==6.1.1
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.20.0
pymongo==4.16.0
pytest==9.0.3
pytest-cov==7.1.0
python-discovery==1.2.2
python-dotenv==1.2.2
PyYAML==6.0.3
SQLAlchemy==2.0.49
taskipy==1.14.1
tomli==2.4.1
typing_extensions==4.15.0
virtualenv==21.2.3
